@page "/"
@using Newtonsoft.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>EOI Workouts</PageTitle>

<h1>Workout Selection</h1>

<p>Please select a workout.</p>

@if (WorkoutsDBs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var WorkoutsDB in WorkoutsDBs)
    {
        <div class="row">
            <h5><b>@WorkoutsDB.Workouts.FirstOrDefault().Title</b></h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Workout</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Select</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var workout in WorkoutsDB.Workouts)
                    {
                        <tr>
                            <td>@workout.Heading</td>
                            <td>@workout.TimePerWorkout</td>
                            <td><button type="button" class="btn btn-primary" @onclick="@(() => OpenWorkout(workout.Tag, workout.Id))">Open</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

@code {
    private List<string> JsonDataFiles = new List<string>();
    private List<eoifitnesswasm.Shared.WorkoutsDB> WorkoutsDBs = new List<eoifitnesswasm.Shared.WorkoutsDB>();

    protected override async Task OnInitializedAsync()
    {
        JsonDataFiles.Add("bodyblaster");
        JsonDataFiles.Add("bodylikeagod");
        JsonDataFiles.Add("coredestroyer");
        JsonDataFiles.Add("fullbody");
        JsonDataFiles.Add("three10minute");

        foreach (var jsonFile in JsonDataFiles)
        {
            var json = await Http.GetStringAsync($"data/{jsonFile}.json");
            var _WorkoutDB = JsonConvert.DeserializeObject<eoifitnesswasm.Shared.WorkoutsDB>(json);
            WorkoutsDBs.Add(_WorkoutDB);
        }
    }

    private void OpenWorkout(string Title, int Id)
    {
        NavigationManager.NavigateTo($"/workout/{Title}/{Id}");
    }
}
